.login-page {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/background_banner2.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.75);
    padding-block: 3rem;
    padding-inline: 2rem;
    border-radius: .5rem;
    min-width: 30%;
}

input {
    width: 100%;
    height: 7vh;
    background-color: rgb(41, 41, 41);
    border: 0;
    border-radius: .2rem;
    padding-left: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(32, 32, 32) !important;
    /* Διατηρεί το ίδιο border */
}

.button-3 {
    width: 100%;
    height: 7vh;
    background-color: red;
    border: none;
    border-radius: .2rem;
}

.button-3:hover {
    background-color: rgba(255, 0, 0, 0.678);
}

.paragraph {
    color: rgba(255, 255, 255, 0.616);
}

span {
    font-weight: 600;
    cursor: pointer;
}

.loading-icon {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.loading-icon img {
    width: 60px;
}




@media (max-width: 400px) {
    .login-form {
        width: 100%;
    }
}