.hero {
    background-image: url('../../../assets/hero_banner2.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}



h1 {
    color: red;
    font-size: x-large;
}

.hero-section {
    min-height: 100vh;
}