:root {
  --background: black;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
  border: 3px solid #000;

}



.button-1 {
  background-color: white;
  border: 1px solid white;
  border-radius: .5rem;
  color: black;
  font-weight: 600;
  padding: .3rem 1.3rem;
}

.button-1:hover {
  background-color: rgba(255, 255, 255, 0.808);
}

.button-2 {
  background-color: rgba(63, 63, 63, 0.904);
  border: 1px solid rgba(63, 63, 63, 0.904);
  border-radius: .5rem;
  color: white;
  font-weight: 600;
  padding: .3rem 1.3rem;
}

.button-2:hover {
  background-color: rgba(63, 63, 63, 0.658);
}